@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap');

*,
*:hover {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: lightgray;
  --main-size: 500px;
  --btn-size: 90px;
  --calc-color: #5b5c67;
  --head-color: #c1d797;
  --btn-num-color: #3d4049;
  --btn-font-color: #f3f5f6;
  --btn-action-color: #afbac88f;
}

body {
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.container {
  height: 600px;
  width: var(--main-size);
  background: var(--calc-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px 5px rgb(19, 12, 12);
}

.head {
  height: 100px;
  width: 90%;
  background: var(--head-color);
  border-radius: 20px;
  margin: 20px auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 12px;
}

.wrapper>button {
  font-size: 65px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  height: var(--btn-size);
  width: var(--btn-size);
  color: var(--btn-font-color);
  border-radius: 20px;
  box-shadow: 0 0 10px 1px rgb(11, 7, 7);
  outline: none;
  border: none;
}

.wrapper>button.num {
  background-color: var(--btn-num-color);
}

.wrapper>button.action {
  background-color: var(--btn-action-color);
}

.wrapper>button.calculate {
  background-color: var(--btn-action-color);
}

.wrapper>button:hover {
  height: 110%;
  width: 110%;
  position: relative;
  left: -5%;
  top: -5%;
}

.output {
  color: var(--btn-num-color);
  font-size: 80px;
  text-align: right;
}

@media only screen and (max-width: 520px) {
  .container {
    width: 300px;
    height: 100vh;

  }

  .wrapper>button {
    height: 50px;
    width: 50px;
    font-size: 36px;
    margin-bottom: 10px;
  }

  .output {
    font-size: 60px;
  }
}